@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');



:root {
    --primary-color: #01ac01;
    --secondary-color: #1f1f1f;
    --background-color: #000000;
    --text-color1: #ffffff;
    --text-color2: #282828;
    --text-color3: #44d90b;
    --text-glitch1: #ff0096;
    --text-glitch2: #0ffbf9;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color1);
}

header {
    position: relative;
    overflow: hidden;
    padding: 50px 10px;
    height: 500px;
    background: var(--background-color);
    text-align: center;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    z-index: -3;
}

header::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: -1;
  }



.block {
    background-color: var(--secondary-color);
    padding-top: 20px;
}

.indent_block {
    height: 150px;
    background-color: var(--secondary-color);
}

.logo_text {
    color: var(--text-color1);
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-size: 4em;
    z-index: 1;
    margin: 0;
    animation: glitch 2s infinite;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.sub_text {
    color: var(--primary-color);
    z-index: 1;
    font-size: 1.1em;
    margin-top: 10px;
    opacity: 0.9;
}


.about_block {
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: var(--text-color2);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.about_block:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

.img_about {
    width: auto;
    height: 100px;
    border-right: 2px solid var(--text-color3);
    border-radius: 5px 0 0 5px;
}

.about_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    color: var(--text-color1);
}

.about_content p {
    color: var(--text-color1);
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin: 0;
}

.about_content a {
    color: var(--text-color3);
    text-decoration: none;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin: 0;
}

.access-message {
    font-size: 20px;
    color: red;
    margin: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.granted {
    color: var(--text-color3); 
}


.info_block {
    margin-top: 20px;
    background-color: var(--text-color2); 
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.info_block:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
}

.info_block .info_date {
    font-size: 1.2em;
    color: var(--text-color1);
    margin: 10px;
}

.info_block img {
    width: 100%;  
    height: 100%;
    border-radius: 10px;
}

.info_block p {
    color: var(--text-color1);
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.2;
    margin: 10px;
}

.info_block a {
    color: var(--text-glitch2);
    text-decoration: none;
    transition: color 0.3s ease;
}

.info_block a:hover {
    color: var(--text-glitch1);
}

.hidden {
    opacity: 0;
    
}

.visible {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}   

footer {
    background: var(--background-color);
    color: var(--text-color3);
  }

.block_footer {
    margin-top: 10px;
    
}

.block_footer img {
    height: 40px;
    width: auto;
}

.block_footer p {
    color: var(--text-color3);
    margin-top: 20px;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}

.glider {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    z-index: -2;
    background-color: var(--text-color3);
    transition: opacity 0.6s ease-in-out;
  }

@keyframes glitch {
    0%, 100% {
        text-shadow: 2px 0px 3px var(--text-glitch1), -2px 0px 3px var(--text-glitch2);
    }
    10%, 90% {
        text-shadow: 4px -2px 3px var(--text-glitch1), -4px 2px 3px var(--text-glitch2);
    }
    50% {
        text-shadow: none;
    }
}

@media (max-width: 768px) {
    header {
        padding: 20px 10px;
    }

    .block {
        padding: 10px;
    }

    .about_content {
        padding-left: 10px; 
    }

    .info_block {
        margin: 5px; 
        width: 100%; 
    }

    .info_block p,
    .about_content p {
        font-size: 0.9em;
    }

    .info_block a,
    .about_content a {
        font-size: 0.9em;
    }

    .access-message {
        font-size: 1em;
    }

    footer {
        padding: 10px;
    }
}
